h3{
    font-family: cursive;
    color: brown;
    font-size: 50px;
}
#id1{
    color: chartreuse;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 300px;
    background-color: blueviolet;
    

}