html{
    margin:0px;
    background-color: wheat;
}

nav{
    text-align: center;
}

nav a{
    text-decoration: none;
    padding: 10px;
    color: black;
}

h1{
    background-color: brown;
    color: white;
    text-align: center;
    border-radius: 6px;
}

button { 
    text-align: center;
     background-color: brown; 
     color: white; 
     padding: 10px 20px; 
     border: none;
      border-radius: 6px; 
      cursor: pointer; 
    } 
button:hover { 
    background-color: darkred; 
}